@if index($btn-types, default) {

    .btn--default {

        &:active {
            background-color: darken(#92929D, 10%);
        }

        @media (hover: hover) {
            &:hover,
            &:focus {
                background-color: lighten(#92929D, 10%);
            }
        }

        &[disabled] {
            color: #B5B5BE;
        }
    }
}