@if index($btn-types, info) {

    .btn--info {
        background-color: #4e75FF;
        &:active {
            background-color: darken(#4e75FF, 10%);
        }

        @media (hover: hover) {
            &:hover,
            &:focus {
                background-color: lighten(#4e75FF, 10%);
            }
        }

        &[disabled] {
            color: #B5B5BE;
        }
    }
}